// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.post-page{
	height: 100%;
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 20px;
}
.post{
	height: 100%;
	width: 90%;
	max-width: 480px;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 1px 2px 5px #ccc;
	padding: 5px;
	padding-bottom: 0;
	cursor: pointer;
}
.post-contents{
	height: 100%;
	width: 100%;
	min-height: 100px;
}
.post-contents p{
	line-height: 1.7;
	letter-spacing: 0.08em;
	color: #333;
	word-wrap: break-word;
	padding: 0 5px;
	padding-bottom: 10px;
}
.post-question{
	font-size: 13px;
}
.post-count{
	padding-top: 10px;
	padding-right: 5px;
	font-size: 14px;
	color: #aaa;
	font-weight: bold;
	float: right;
}
.post-menu{
	position: relative;
	border-top: 1px solid #eee;
	padding-top: 5px;
}
.post-user-img{
	float: left;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 3px;
}
.post-user-noimg{
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #4169e1;
	font-weight: bold;
	background-color: #B6FF01;
	border-radius: 50%;
	font-size: 15px;
	margin-bottom: 3px;
}
.post-user{
	float: left;
	color: #555;
	font-size: 15px;
	padding-top: 10px;
	padding-left: 5px;
}
.post-time{
	position: absolute;
	right: 5px;
	bottom: 0;
	color: #aaa;
	font-size: 13px;
}

// post form
.post-form{
	height: 100%;
	width: 90%;
	max-width: 480px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.post-form textarea{
	width: 100%;
	padding: 15px;
	margin-top: 5px;
	border-radius: 20px;
	border: 1.5px solid #4169e1;
}
.post-form textarea:focus{
	outline: none;
	border: 1.5px solid #B6FF01;
}
.post-form input[type="submit"]{
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #4169e1;
}
.post-form input[type="submit"]:focus{
	border: 1px solid #B6FF01;
}
.post-form select{
	border: 1px solid #4169e1;
	padding: 5px;
	font-size:14px;
	margin-top:5px;
}
.post-form select:focus{
	outline: none;
	border: 1px solid #B6FF01;
}

// show
.post-show{
	height: 100%;
	width: 90%;
	max-width: 480px;
	margin: 0 auto;
	margin-top: 80px;
	box-shadow: 1px 2px 5px #ccc;
	padding: 10px 5px;
	padding-bottom: 0;
}
.post-body{
	font-size: 15px;
}

@media screen and (min-width: 480px){
	// form
	.post-form input[type="submit"]{
		width: 40%;
		margin: 0;
		float: right;
		margin-right: 10px;
		border: 1px solid #4169e1;
	}

	// modal
	#delete-modal h3{
		padding: 0;
		padding-top: 30px;
	}
	.common-delete-btn{
		margin-top: 30px;
		width: 40%;
	}
	.common-sign-btn{
		margin-top: 0;
		margin-top: 50px;
		width: 40%;
	}
	.delete-btn{
		float: left;
	}
	.signup-btn{
		float: left;
	}
	.undelete-btn{
		float: right;
	}
	.login-btn{
		float: right;
	}

}