// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page{
	height: 100%;
	width: 100%;
}
.user-top{
	background-color: #B6FF01;
	overflow: hidden;
	text-align: center;
	padding: 50px 0;
}
.user-top h1{
	font-size: 30px;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
}
.top-text{
	display: inline-block;
}
.top-text p{
	text-align: left;
	font-size: 15px;
	line-height: 30px;
}
.user-form{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
}
.user-form h3{
	padding-top: 70px;
	padding-bottom: 30px;
	font-size: 30px;
	color: #B6FF01;
}
.agreement-text{
	font-size: 15px;
	color: #333;
	padding-bottom: 10px;
}
.agreement-btn{
	color: tomato;
}
.twitter-btn{
	display: inline-block;
	background-color: #00aced;
	padding: 5px 15px;
	color: #fff;
	border-radius: 20px;
}
.twitter-btn i{
	padding-right: 5px;
}
@media screen and (min-width: 960px){
	.user-top{
		padding: 0;
		display: block;
		// background: inner-gradient(to left, #B6FF01, #fff);
		background-color: #B6FF01;
		position: fixed;
		top: 0;
		right: 45%;
		bottom: 0;
		left: 0;
		padding-top: 120px;
		padding-left: 60px;
		overflow: hidden;
		text-align: none;
	}
	.user-top h1{
		font-size: 50px;
		color: #fff;
		padding-bottom: 30px;
	}
	.user-top p{
		padding-left: 80px;
		font-size: 15px;
		line-height: 40px;
	}
	.user-form{
		height: 400px;
		width: 400px;
		margin-top: 0;
		background-color: #B6FF01;
		padding: 0px;
		padding-top: 80px;
		position: absolute;
		top: 20%;
		right: 3%;
		border-radius: 50%;
	}
	.user-form h3{
		padding: 0;
		font-size: 50px;
		color: #fff;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
@media screen and (min-width: 1281px){
	.user-top{
		display: block;
		// background: inner-gradient(to left, #B6FF01, #fff);
		background-color: #B6FF01;
		position: fixed;
		top: 0;
		right: 45%;
		bottom: 0;
		left: 0;
	}
	.user-top h1{
		font-size: 50px;
	}
	.user-top p{
		padding-left: 150px;
		font-size: 17px;
	}
	.user-form{
		right: 7%;
	}
}