// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page{
	height: 100%;
	width: 90%;
	max-width: 480px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}
.user-top{
	background-color: #4169e1;
	overflow: auto;
	text-align: center;
	height: 50%;
	width: 100%;
	padding: 50px 0;
}
.user-top h1{
	font-size: 30px;
	color: #fff;
	padding-bottom: 20px;
}
#flickity-wrap{
	position: relative;
	padding: 200px 0;
	border: 2px solid #4169e1;
	background-color: #fff;
	margin: 20px auto;
}
#flickity-wrap div{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
#flickity-wrap div img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.top-text{
	display: inline-block;
	margin-left: 10px;
	text-align: center;
}
.top-text p{
	text-align: left;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
}
.user-form{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	padding-top: 30px;
}
.user-form h3{
	font-size: 18px;
	color: #555;
}
.agreement-text{
	font-size: 12px;
	padding-top: 10px;
	width: 100%;
}
.agreement-btn{
	color: tomato;
}
.twitter-btn{
	display: inline-block;
	background-color: #00aced;
	width: 100%;
	padding: 8px 0;
	border-radius: 20px;
	margin-top: 30px;
}
.twitter-btn p{
	color: #fff;
	font-size: 0.95em;
}
.twitter-btn i{
	padding-right: 5px;
}
.self-regist-btn{
	display: inline-block;
	background-color: tomato;
	width: 100%;
	padding: 8px 0;
	border-radius: 20px;
	margin-top: 20px;
	cursor: pointer;
}
.self-regist-btn p{
	color: #fff;
	font-size: 0.95em;
}
.self-regist-btn i{
	padding-right: 5px;
}
#regist-modal{
	display: inline-block;
	background-color: #fff;
	width: 90%;
	max-width: 480px;
	margin-top: 100px;
	border-radius: 20px;
	padding-bottom: 30px;
}
#regist-modal h3{
	font-size: 18px;
	padding: 0 20px;
	padding-top: 30px;
	color: #333;
}
#regist-modal label{
	float: left;
	margin-top: 10px;
	margin-left: 18px;
	font-size: 15px;
	color: #555;
	font-weight: bold;
}
#regist-modal input[type="text"], #regist-modal input[type="password"]{
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 16px;
}
#regist-modal input[type="text"]:focus, #regist-modal input[type="password"]:focus{
	outline: none;
	border-radius: 20px;
	border: 1.5px solid #B6FF01;
}
#regist-modal .btn-zone{
	display: block;
	padding: 0 50px;
	margin: 0 auto;
	text-align: center;
}
.common-regist-btn{
	color: white;
	display: inline-block;
	width: 80%;
	font-size: 15px;
	padding: 8px 25px;
	border-radius: 30px;
	cursor: pointer;
}
.regist-btn{
	background-color: #4169e1;
	margin-top: 15px;
}
.unregist-btn{
	background-color: tomato;
	margin-top: 10px;
}
@media screen and (min-width: 480px){
	// modal
	#regist-modal h3{
		padding: 0;
		padding-top: 30px;
	}
	.common-regist-btn{
		margin-top: 30px;
		width: 40%;
	}
	.regist-btn{
		float: left;
	}
	.unregist-btn{
		float: right;
	}

}

// show
.user-contents{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 30px;
	width: 100%;
	height: 100%;
}
.user-img{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 3px;
}
.user-noimg{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	line-height: 60px;
	text-align: center;
	color: #4169e1;
	font-weight: bold;
	background-color: #B6FF01;
	border-radius: 50%;
	font-size: 	20px;
	margin-bottom: 3px;
}
.user-contents h3{
	font-size: 25px;
	padding-bottom: 15px;
}
.setting-btn{
	font-size: 15px;
	border-bottom: 2px solid #ccc;
	padding-top: 20px;
	padding-bottom: 10px;
}
.question-notice{
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	color: #aaa;
}
.user-post-contents{
	padding-bottom: 30px;
}
.user-post{
	height: 100%;
	width: 90%;
	max-width: 480px;
	margin: 0 auto;
	margin-top: 20px;
	box-shadow: 1px 2px 5px #ccc;
	padding: 5px;
	padding-bottom: 0;
	cursor: pointer;
	table-layout: fixed;
}
.post-contents{
	height: 100%;
	width: 100%;
	min-height: 100px;
	word-wrap: break-word;
}
.post-contents p{
	text-align: left;
	line-height: 1.7;
	letter-spacing: 0.08em;
	color: #333;
	padding: 0 5px;
	padding-bottom: 10px;
}
.post-question{
	font-size: 13px;
}
.post-count{
	padding-top: 10px;
	padding-right: 5px;
	font-size: 14px;
	color: #aaa;
	font-weight: bold;
	float: right;
}
.post-menu{
	position: relative;
	border-top: 1px solid #eee;
	padding-top: 5px;
	padding-bottom: 20px;
}
.post-username{
	display: inline-block;
	width: 90%;
 	overflow: hidden;
 	position: relative;
}
.post-user-img{
	float: left;
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 3px;
}
.post-user-noimg{
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #4169e1;
	font-weight: bold;
	background-color: #B6FF01;
	border-radius: 50%;
	font-size: 15px;
	margin-bottom: 3px;
}
.post-user{
	position: absolute;
	top: 1px;
	left: 45px;
	color: #555;
	line-height: 40px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
	font-size: 15px;
	font-weight: bold;
}
.post-time{
	position: absolute;
	right: 5px;
	bottom: 0;
	color: #aaa;
	font-size: 13px;
}
.wrong-space{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 5px;
}
.wrong-user-list{
	float: left;
	font-size: 13px;
	color: #aaa;
	font-weight: bold;
}
.wrong-user-img{
	float: left;
	width: 20px;
	height: 20px;
	object-fit: cover;
	border-radius: 50%;
	vertical-align: center;
}
.wrong-user-no-img{
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #4169e1;
	font-weight: bold;
	background-color: #B6FF01;
	border-radius: 50%;
	font-size: 10px;
}
// form
.user-form-page{
	width: 100%;
	height: 100%;
	padding-top: 100px;
}